p{
  float: right;
}
.by{
  font-size: 20px;
  float: left;
  font-style: 'Oleo Script', cursive;
  color: whitesmoke;
}
#btn{
  font-size: 15px;
  float: left;
  text-align: left;
}
.quote{
  font-size: 16px;
  font-style: 'Oleo Script', cursive;
  color: whitesmoke;

}