<h1>QUOTES</h1>
<div class="container">
    <div class="row">
        <app-goal-form></app-goal-form>
    </div>
</div>
<style>
    h1{
      text-align: center;
      font-style: italic;
      font-size: 60px;
    }
    h4{
      font-size: 25px;
    }
  </style>
<hr>
<div class="container">
    <div class="row" *ngFor="let quote of quotes;let i = 'index'">
        <div class="row">
            <h4 id="{{i}}">{{quote.name}} <b>posted on :{{quote.quoteDate|date}}</b></h4>
            <button class="btn btn-primary" (click)='toogleDetails(i)'>Show Details</button>
        </div>
        
        <div class="row" *ngIf="quote.showDescription">
        <app-quote-details  [quote]='quote' (isComplete)= 'deleteQuote($event,i)'></app-quote-details>
    </div>
    
</div>

</div>








<!-- <h1>QUOTES</h1>
<style>
  h1{
    text-align: center;
    font-style: italic;
    font-size: 60px;
  }
</style>
<hr>
<ul>
  <div class="row" *ngFor="let quote of quotes;let i = 'index'"></div>
  <div class="row">

  </div>
    <li id="{{i}}">{{quote.name}} <b>posted on :{{quote.quoteDate|date}}</b></li>
    <button (click)='toogleDetails(i)'>Show Details</button>
    <app-quote-details *ngIf="quote.showDescription" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
  </div>
</ul> -->
