 <div class="container">
  
  <h1>Quotes</h1>
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <ul>
    <div *ngFor="let quote of quotes;let i=index">
      <div class="row">
        <div id="buttons">
          <br>
          <li id="h4">"{{quote.name}}" -<em><strong>Posted {{quote.quoteDate|dateCount}} days ago.</strong></em></li>
          <br>
          <button class="btn btn-warning" id="button"(click)='toogleDetails(i)'>
              Details
            </button>
            &nbsp;&nbsp;
          <button (click)='upvote(i)' class="btn btn-primary btn-lg"><i class="fa fa-thumbs-o-up"></i> Upvote {{quote.upvotes}}</button>&nbsp;&nbsp;
          <button (click)='downvote(i)' class="btn btn-danger btn-lg"><i class="fa fa-thumbs-o-down"></i> Downvote {{quote.downvotes}} </button>
          <br>

          <app-quote-details *ngIf="quote.showAuthor" [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
        </div>
        </div>
      </div>
    </ul>
  </div>
  
  