
h1{
  text-align: center;
  font-size: 70px;
  color: rgb(231, 7, 7);
  font-family: 'Racing Sans One', cursive;
  text-decoration-line: underline;
}
#buttons{
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 500px;
}
#h4{
  font-size: 24px;
  font-family: 'Oleo Script', cursive;
  color: whitesmoke;
}
#button{
  font-size: 15px;
}