.container{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 500px;
  text-align: center;
}
#quote{
  font-size: 25px;
  color: whitesmoke;
}
#author{
  font-size: 25px;
  color: whitesmoke;
  
}
#submit{
  font-size: 25px;
  
}
#submitby{
  color: whitesmoke;
  font-size: 25px;
}
#submitbtn{
  font-size: 20px;
}
.form-group{
  font-size: 40px;
}
input{
  height: 60px;
}
#name{
  font-size: 18px;
  background: black;
  color: red;
}
#authorr{
  font-size: 18px;
  background: black;
  color: red;
}
#submitbyy{
  font-size: 18px;
  background: black;
  color: red;
}